<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Aggregation" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Common" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Model" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Threading" targetFramework="net48" version="2024.1.6" />
  <package id="StrongNamer" targetFramework="net48" version="0.2.5" />
  <package allowedVersions="[1.4.5, 1.4.5]" developmentDependency="true" id="Vsxmd" targetFramework="net48" version="1.4.5" />
</packages>